body {
    background-image: url("https://i.ibb.co/kV6R5vJs/958554-final.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.btn-logout {
    background-color: darkred;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-logout:hover{
    background-color: darkred;
    color: hotpink;
}

.prompt{
    position: absolute;
    top: 0;
    bottom: 0;
    color: deeppink;
}

.photo-creds{
    color: navajowhite;
    position: absolute;
    bottom: 0;
    right: 0;
}

.card-body {
    background: linear-gradient(to right, rgba(14, 37, 183, 0.3), rgba(18, 48, 115, 0.57));
}

.btn-start{
    background-color: orange;
    color: white;
    border-color: white;
}

.btn-start:hover{
    background-color: #ce9830;
    border-color: white;
}